{% extends "web/ar/base.html" %}

{% block head_css %}

   {{ super() }}
   <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/quiz.css">
   
{% endblock %} 



{% block content %}

  <quiz_body>
  <div data-height="230" class="quiz_container caption caption-margins round-medium shadow-huge top-0">
    <div id="question-container" class="hide">
      <div id="question">Question</div>
      <div id="answer-buttons" class="btn-grid">
        <button class="btn">{{quest}}</button>
        <button class="btn">answer 2</button>
        <button class="btn">answer 2</button>
        <button class="btn">answer 3</button>
      </div>
    </div>
    <div class="quiz_controls">
      <button id="start-btn" class="start-btn btn">Start</button>
      <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
  </div>
  </quiz_body>

{% endblock %}

{% block video_script %}
  {{ super() }}
  <script defer type="text/javascript" src="{{STATIC_URL}}js/quiz.js"></script>
{% endblock %}